<div class="w-full bg-sunablue-500">
    <div class="text-sm w-full h-full flex flex-wrap">
        <div class="w-full sm:w-2/4 flex flex-col text-white px-4 py-2">
            <p class="font-bold text-sunagreen-500 text-xl md:text-2xl">Contáctanos</p>
            <a href="tel:(511)390-2800"><span class="font-bold">Central Telefónica:</span> (511) 390-2800</a>
            <p><span class="font-bold">Horario de atención:</span> Lunes a viernes de 8:30 a.m. a 4:30 p.m.</p>
            <p><span class="font-bold">Dirección:</span> Av. Salaverry N° 655 - 2do. piso, Jesús María - Lima</p>
            <a href="mailto:atencionalciudadano@sunafil.gob.pe"><span class="font-bold">Correo:</span> atencionalciudadano@sunafil.gob.pe</a>
        </div>
        <div class="w-full sm:w-1/4 flex flex-col text-white px-4 py-2">
            <p class="font-bold text-sunagreen-500 text-xl md:text-2xl">Siguenos</p>
            <div class="flex items-center md:text-xl">
                <a href="#" class="p-2 pl-0 fa fa-facebook"></a>
                <a href="#" class="p-2 fa fa-twitter"></a>
                <a href="#" class="p-1">
                    <img class="invert w-4 md:w-6" src="../../../../../assets/icons/youtube.svg" />
                </a>
                <a href="#" class="p-2 fa fa-instagram"></a>
                <a href="#" class="p-2">
                    <img class="invert w-3 md:w-5" src="../../../../../assets/icons/tiktok.svg" />
                </a>
                <a href="#" class="p-2 fa fa-linkedin"></a>
                <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
            </div>
        </div>
    </div>
</div>