
    <div class="w-full h-full relative">
        <div class="h-full w-12/12 md:w-11/12 px-8 mx-auto flex flex-wrap">
            <img src="assets/images/filita.png" alt="Sunafilita" class="mx-auto absolute w-44 md:w-80 bottom-0 z-20 -left-14">
            <div class="flex flex-wrap items-center">
                <div class="py-3 text-center mx-auto text-sm md:text-xl text-gray-500">
                    Te presentamos al aplicativo interactivo y accesible. dirigido a los miembros del Comité de Seguridad Salud en el Trabajo
                </div>
                <div class="mx-auto w-full pb-8">
                    <div class="rounded-xl relative bg-sunagray-500 p-3 w-full flex items-center">
                        <p class="py-0.5 mx-auto font-bold text-xl md:text-3xl">Hola, soy Sunafilita, ¿cuál es tu nombre?</p>
                        <div class="sunagray-triangle-left">
            
                        </div>
                    </div>
                </div>
                <div class="ml-auto w-10/12 md:w-11/12 pb-3 md:pb-12">
                    <div class="rounded-xl relative bg-sunared-100 p-3 w-full flex items-center">
                        <label>¿Cuál es tu correo electrónico?</label>
                        <input type="text" class="py-0.5 w-full bg-transparent outline-none text-xl md:text-3xl text-center" placeholder="">
                    </div>
                </div>
                <div class="ml-auto w-10/12 md:w-11/12 pb-3 md:pb-12">
                    <div class="rounded-xl relative bg-sunared-100 p-3 w-full flex items-center">
                        <label>¿Cuál es tu contraseña?</label>
                        <input type="text" class="py-0.5 w-full bg-transparent outline-none text-xl md:text-3xl text-center" placeholder="">
                    </div>
                </div>
                <div class="w-full">
                    <button class="w-40 text-lg font-bold bg-sunared-500 text-white py-2 px-4 rounded-full mx-auto block">Siguiente</button>
                </div>
            </div>
        </div>
    </div>